<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OCACApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.jetpack.ocac.IFrameView"
            android:exported="false"
            android:label="@string/title_activity_iframe_view"
            android:theme="@style/Theme.OCACApp" />
        <activity
            android:name="com.jetpack.ocac.SplashScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.OCACApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jetpack.ocac.DashboardScreen"
            android:exported="false"
            android:label="@string/title_activity_dashboard_screen"
            android:theme="@style/Theme.OCACApp" />
        <activity
            android:name="com.jetpack.ocac.OTPScreen"
            android:exported="false"
            android:label="@string/title_activity_otpscreen"
            android:theme="@style/Theme.OCACApp" />
        <activity
            android:name="com.jetpack.ocac.LoginScreenActivity"
            android:exported="false"
            android:label="@string/title_activity_login_screen"
            android:theme="@style/Theme.OCACApp" />
        <activity
            android:name="com.jetpack.ocac.WalkthroughScreen"
            android:exported="false"
            android:label="@string/title_activity_walkthrough_screen"
            android:theme="@style/Theme.OCACApp" />
        <activity
            android:name="com.jetpack.ocac.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.OCACApp"></activity>
    </application>

</manifest>